.hr {
    background-color: rgb(0, 162, 255);
}

/* header */

.header{
    height: 50px;
    width: auto;
    background-position: center;
    background-color: white;
}
/* sign up */

.signup .form-inline table, tr, td {
    padding: 10px;
}

#register {
    margin-right: 700px;
}

.signup{
    box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
    border-radius: 5px;
    margin-bottom: 20px;
}
